<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.water.mapper.HistoryMapper">
    <!--查询结构涉及多个实体-->
    <resultMap id="historyMap" type="com.whut.water.entities.History">
        <id column="hid" property="hid"></id>
        <result property="sendWaterTime" column="send_water_time"></result>
        <result property="sendWaterCount" column="send_water_count"></result>
        <!--关联worker表-->
        <association property="worker" javaType="com.whut.water.entities.Worker">
            <id column="wid" property="wid"></id>
            <result property="workerName" column="worker_name"></result>
        </association>
        <association property="customer" javaType="com.whut.water.entities.Customer">
            <id column="cid" property="cid"></id>
            <result property="custName" column="cust_name"></result>
        </association>
    </resultMap>

    <select id="getHistoryByWId" resultMap="historyMap">
        SELECT * FROM history
                WHERE worker_id =#{wid}
    </select>
    <select id="getHistoryByCId" resultMap="historyMap">
        SELECT * FROM history
                WHERE cust_id =#{cid}
    </select>

    <select id="listHistory" resultMap="historyMap">
        SELECT h.`hid`,c.`cid`,c.`cust_name`,w.`wid`, w.`worker_name`,
        h.`send_water_time`,h.`send_water_count`
        FROM history h,worker w,customer c
        WHERE h.`worker_id`=w.`wid` AND h.`cust_id`=c.`cid`
                ORDER BY send_water_time ASC
    </select>
    <select id="searchHistory" resultMap="historyMap">
        SELECT h.`hid`,c.`cid`,c.`cust_name`,w.`wid`, w.`worker_name`,
        h.`send_water_time`,h.`send_water_count`
        FROM history h,worker w,customer c
        WHERE h.`worker_id`=w.`wid`
        AND h.`cust_id`= c.`cid`
        AND h.`send_water_time` >= #{start}
        AND h.`send_water_time` &lt;= #{end}
    </select>

    <select id="getHistoryById" resultMap="historyMap">
        select h.hid,w.`wid`,w.worker_name,h.send_water_time,c.`cid`,c.cust_name,h.send_water_count
        FROM history h , worker w , customer c
        WHERE h.worker_id = w.wid and h.cust_id = c.cid and h.hid = #{hid}
    </select>

    <delete id="deleteHistory">
        delete from history where hid=#{hid}
    </delete>

    <delete id="deleteHistoryBatch" parameterType="list">
        delete from history where hid in
        <foreach collection="hidList" item="hid" open="(" close=")" separator=",">
            #{hid}
        </foreach>
    </delete>

    <update id="updateHistory" parameterType="com.whut.water.entities.History">
        update history
        set cust_id = #{history.customer.cid} , worker_id = #{history.worker.wid}
            , send_water_time = #{history.sendWaterTime} , send_water_count = #{history.sendWaterCount}
        where hid = #{history.hid}
    </update>

    <update id="insertHistory" parameterType="com.whut.water.entities.History">
        insert into history(cust_id,worker_id,send_water_time,send_water_count)
        values(#{history.customer.cid},#{history.worker.wid},#{history.sendWaterTime},#{history.sendWaterCount})
    </update>

    <resultMap id="salaryMap" type="Map">
        <id column="wid" property="wid"></id>
        <result property="workerName" column="worker_name"></result>
        <result property="workerSalary" column="worker_salary"></result>
        <result property="workerMoney" column="worker_money"></result>
        <result property="sendWaterCountSum" column="send_water_count_sum"></result>
    </resultMap>

    <select id="getSalary" resultMap="salaryMap">
        SELECT worker.`wid`,worker.`worker_name`,worker.`worker_salary`,worker.`worker_money`,
        SUM(IFNULL(history.`send_water_count`,0)) AS send_water_count_sum
        FROM worker
        LEFT JOIN (
        SELECT *  FROM history WHERE history.`send_water_time`
        BETWEEN #{start} AND #{end}
        ) as history
        ON worker.`wid`=history.`worker_id`
        OR ISNULL(history.`send_water_time`)
        GROUP BY worker.`wid`
        order by send_water_count_sum desc
    </select>


    <resultMap id="countMap" type="Map">
        <result property="sendWaterTime" column="send_water_time"></result>
        <result property="sendWaterCountSum" column="water_count"></result>
    </resultMap>

    <select id="getCount" resultMap="countMap">
        SELECT history.`send_water_time`,SUM(history.`send_water_count`) AS water_count
        FROM history
        GROUP BY history.`send_water_time`
        ORDER BY history.`send_water_time` ASC
    </select>





</mapper>