<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whut.water.mapper.WorkerMapper">
    <select id="listWorker" resultType="com.whut.water.entities.Worker">
        select wid,worker_name,worker_salary,worker_money,worker_image from worker
    </select>

    <select id="searchWorker" resultType="com.whut.water.entities.Worker">
        select wid,worker_name,worker_salary,worker_money,worker_image from worker
        where 1 = 1
        <if test="workerName != null and workerName != ''">
            and worker_name like concat('%',#{workerName},'%')
        </if>
    </select>

    <insert id="insertWorker">
        INSERT INTO worker(worker_name,worker_salary,worker_money,worker_image)
        VALUES(#{worker.workerName},#{worker.workerSalary},#{worker.workerMoney},#{worker.workerImage})
    </insert>

    <delete id="deleteWorker">
        DELETE FROM worker WHERE wid=#{wid}
    </delete>

    <update id="updateWorker">
        UPDATE	worker
        SET worker_name=#{worker.workerName},
        worker_salary=#{worker.workerSalary},
        worker_money=#{worker.workerMoney},
        worker_image=#{worker.workerImage}
        WHERE wid=#{worker.wid};
    </update>

    <update id="adjustSalary">
        UPDATE	worker
        SET worker_salary=#{workerSalary}
        WHERE wid=#{wid};
    </update>


    <resultMap id="workerMassageMap" type="Map">
        <id column="wid" property="wid"></id>
        <result property="workerName" column="worker_name"></result>
        <result property="customerList" column="customer_list"></result>
        <result property="sendWaterCountSum" column="send_water_count_sum"></result>
        <result property="sendWaterCountSum" column="send_water_count_sum"></result>
    </resultMap>

    <select id="workerMassage" resultMap="workerMassageMap">
        select w.wid , w.worker_name,
        ifnull(group_concat(distinct c.cust_name),'-') as customer_list,
        ifnull(sum(h.send_water_count),0) as send_water_count_sum
        from worker w left join history h on w.wid = h.worker_id left join customer c on c.cid = h.cust_id
        group by w.wid
        order by send_water_count_sum desc;
    </select>

    <select id="searchWorkerMassage" resultMap="workerMassageMap">
        select w.wid , w.worker_name,
        ifnull(group_concat(distinct c.cust_name),'-') as customer_list,
        ifnull(sum(h.send_water_count),0) as send_water_count_sum
        from worker w left join history h on w.wid = h.worker_id left join customer c on c.cid = h.cust_id
        WHERE w.`worker_name` LIKE CONCAT('%',#{searchName},'%')
        group by w.wid
        order by send_water_count_sum desc;
    </select>
</mapper>