<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>送水公司后台管理系统</title>
    <!--引用依赖-->
    <div th:replace="component::link"></div>

    <script th:inline="javascript">
        $(document).ready(function () {
            $.ajax({
                url: "/worker/workerMassage",
                type: "post",
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    toastr.success('数据获取成功');
                    loadCountMassage(data)
                },
                error: function (e) {
                    console.log("faild")
                    toastr.warning('数据获取失败');
                }
            })
        })

        $(function () {
            $("#searchWorkerMassageBtn").click(function () {
                searchCountMassage()
            })
            $("#searchNameInput").on("keypress",function () {
                searchCountMassage()
            })
        })
        function searchCountMassage() {
            $.ajax({
                url: "/worker/searchWorkerMassage",
                type: "post",
                data:{
                    searchName: $("#searchNameInput").val()
                },
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    toastr.success('搜索成功');
                    loadCountMassage(data)
                },
                error: function (e) {
                    console.log("faild")
                    toastr.warning('搜索失败');
                }
            })
        }

        function loadCountMassage(data) {
            var str = '';
            //对数据做遍历，拼接到页面显示
            for (var index in data) {
                str += '<tr>'
                    + '<td>' + data[index].wid + '</td>'
                    + '<td>' + data[index].workerName + '</td>'
                    + '<td style="white-space: nowrap;overflow:hidden;text-overflow:ellipsis;">' + data[index].customerList + '</td>'
                    + '<td>' + data[index].sendWaterCountSum + '</td>'
                    + '</tr>'
            }
            //放入页面的容器显示
            $('#countTableBody').html(str);
        }
    </script>
</head>
<body>
<div id="viewport">
    <!--侧边栏-->
    <div th:replace="component::sidebar"></div>
    <!-- Content -->
    <div id="content">
        <div class="row">
            <div>
                <div class="col-lg-4" style="margin-left: 30%;margin-top: 10px;float: left">
                    <div class="input-group">
                        <!--/*@thymesVar id="searchName" type="java.lang.String"*/-->
                        <input id="searchNameInput" type="text" class="form-control" required placeholder="请输入用户名">
                        <span class="input-group-btn">
                        <button class="btn btn-default" id="searchWorkerMassageBtn">搜索</button>
                    </span>
                    </div>
                </div>
            </div>
            <div th:replace="component::user"></div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <td>编号</td>
                            <td>员工名称</td>
                            <td>客户列表</td>
                            <td>送水总数</td>
                        </tr>
                        </thead>
                        <tbody id="countTableBody">
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
</body>
</html>